#cv-form{
    background-image: url("./background.jpg");   
}

.hed{
    color: aliceblue;
    margin-top: 50px;
    font-weight: 700;
}
.hed2{
    color: rgb(145, 145, 145);
    margin-top: 0px;
    font-weight: 700;
}
.accordion-item{
    margin-top: 20px;
}

#cv-template{
    background-color: aliceblue;
}
.my-img{
    border-radius: 50%;
    width: 200px;
}
.background{
    background-color: aqua;
}
#cv-template{
    display: none;
}
#dow{
    display: none;
}
